<div class="jumbotron">
  <h2>GoonSwarm Authentication Services</h2>
  <p class="lead">OHGOD it's those guys!</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Services</h4>
    <ul>
      <li>
        <a href="/register">Register</a>
      </li>
      <li>
        <a href="/reset-password">Reset your password</a>
      </li>
    </ul>
  </div>
</div>
